KoiChatApp/target/classes/cvt/
KoiChatApp/target/classes/com/mycompany/koichatapp/
KoiChatApp/target/test-classes/.netbeans_automatic_build
KoiChatApp/target/maven-status/maven-compiler-plugin/
KoiChatApp/target/classes/.netbeans_automatic_build
KoiChatApp/target/maven-archiver/pom.properties
KoiChatApp/target/KoiChatApp-1.0-SNAPSHOT.jar